body {
    font-family: "Open Sans Condensed";
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    /* nie dodaje automatycznie paddingu do elementow i sa rowne */
    box-sizing: border-box;
}